<h1>Poll: <%= @poll.title %></h1>
<h3><%= @poll.votes.count %> total votes</h3>

<p>Share these poll results: <%= render_shareable :buttons=> ['twitter'] %></p>

<div class="col-xs-4">
<canvas id="myChart" width="100" height="100"></canvas>
</div>
<% content_for :charts do %>
<script>

$(function() {
  var ctx = $("#myChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= raw @questions.map {|q| q.content} %>,
        datasets: [{
            label: 'Number of Votes',
            data: <%= raw @questions.map {|q| q.votes.count} %>,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 1
        }]
    }
  });
});
</script>
<% end %>
