<h1>Poll: <%= @poll.title %></h1>
<p>This poll is open until <%= @poll.end_time.strftime("%A, %B %d")  %>. Everyone may only vote once.</p>
<p>Share this poll: <%= render_shareable :buttons=> ['twitter'] %></p>
<div id="results"></div>

<ul class="list-group">
<% @poll.questions.each do |question| %>
  <li class="list-group-item"><h2><%= question.content %></h2>
    <form id="votes" method="POST" action="/votes">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="hidden" name="question" value="<%= question.id %>">
      <button type="submit" class="btn" id="submit">Vote</vote>
    </form>
  </li>
<% end %>
</ul>

<% content_for :votes do %>
<script>

$(function() {
  init()
});

function init() {
  $('.btn').on('click', function(event) {
    event.preventDefault();
    $.ajax({
      url: '/votes',
      method: 'POST',
      data: $("#votes").serialize(),
      success: function(response) {
        console.log(response);
        alert("Your Vote was Counted!");
        $('.btn').hide();
        $('#results').append('<h1><%= link_to "See Results so Far", poll_charts_path(@poll) %></h1>')
      }
    });
  })
}


</script>
<% end %>
